<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>No VUE</title>
</head>
<body>

    <header id="header">
        <ul>
            <li><a href="#inicio"> INICIO </a></li>
            <li><a href="#contacto"> CONTACTO </a></li>
            <li><a href="#habilidades"> HABILIDADES  </a></li>
        </ul>
    </header>
    <main>
        <div class="up">
            <a href="#header">🔼</a>
        </div>

        <section class="primer_sector" id="inicio">
            <div class="data">
                <h1> QUIEN SOY? </h1>
                <p> Mi nombre es Anderson, soy docente , programador y analista de datos</p>
            </div>
            <div class="img">
                <img src="./assets/imgs/linux.png" alt="linux" class="linux_images">

            </div>
        </section>
        <section class="segundo_sector" id="contacto">
            <div class="bg">
                
            </div>
            <div class="data">
                <h1>Por email</h1>
                <h4>anderson.ocana@bue.edu.ar</h4>
                <h2>GITHUB</h2>
                <h4> https://github.com/andru-oca </h4>
            </div>
        </section>
        
        <section class="tercer_sector" id="habilidades">
            <div class="data">
                <h1>SQL</h1>
                <h2>PYTHON</h2>
                <h2>REACT</h2>
                <h2>VUE</h2>
                <h2>GITHUB / GIT </h2>
                
            </div>
            <div class="bg2">
                
            </div>
        </section>
        
    </main>

<script src="./js/main.js"></script>
</body>
</html>